body{
    background-image:url(Wallpaper-Kemra-Marble-1.jpg.optimal.jpg);
    font-family: "ivypresto-display", serif;
font-weight: 400;
font-style: normal;
width:100%;
background-repeat: no-repeat;
}
.form-control{
    color:black;
}
#updateTaskCounter{
    text-align:center;
    align-items:center;
    font-family: "ivypresto-display", serif;
    font-weight: 400;

padding:30px;
    font-style: normal;
}